<footer id="footer">
    <div class="container">
        <footer class="footer">
            <div class="footer_up">
                <article id="stay">
                    <h4 class="h4_en">STAY</h4>
                    <div class="list 1">
                        <a href="/Chateau-de-Monaco/stay/stay-fr.html?item=art-gallery" class="text_en">
                            <span>Galerie</span>
                        </a>

                        <a href="/Chateau-de-Monaco/stay/stay-fr.html?item=infinity-pool" class="text_en">
                            <span>Piscine</span>
                        </a>

                        <a href="/Chateau-de-Monaco/stay/stay-fr.html?item=signature-restaurant" class="text_en">
                            <span>Restaurant</span>
                        </a>

                        <a href="/Chateau-de-Monaco/stay/stay-fr.html?item=spa-wellness" class="text_en">
                            <span>Spa</span>
                        </a>

                        <a href="/Chateau-de-Monaco/stay/stay-fr.html?item=standard-room" class="text_en">
                            <span>Chambre Standard</span>
                        </a>

                        <a href="/Chateau-de-Monaco/stay/stay-fr.html?item=suite-room" class="text_en">
                            <span>Suite</span>
                        </a>
                    </div>
                </article>
                <article id="experiences">
                    <h4 class="h4_en">EXPERIENCES</h4>
                    <div class="list 2">
                        <a href="/Chateau-de-Monaco/experiences/experiences-fr.html?item=birthday" class="text_en"><span>Anniversaire</span></a>
                        <a href="/Chateau-de-Monaco/experiences/experiences-fr.html?item=spa" class="text_en"><span>Spa</span></a>
                        <a href="/Chateau-de-Monaco/experiences/experiences-fr.html?item=proposal" class="text_en"><span>Demande en mariage</span></a>
                        <a href="/Chateau-de-Monaco/experiences/experiences-fr.html?item=anniversary" class="text_en"><span>Célébration</span></a>
                        <a href="/Chateau-de-Monaco/experiences/experiences-fr.html?item=honeymoon" class="text_en"><span>Lune de miel</span></a>
                    </div>
                </article>
                <article id="location">
                    <h4 class="h4_en">LOCATION</h4>
                    <div class="list 3">
                        <a href="/Chateau-de-Monaco/location/location-fr.html#directions" class="text_en"><span>Itinéraire</span></a>
                        <a href="/Chateau-de-Monaco/location/location-fr.html#spot" class="text_en"><span>Sites incontournables</span></a>
                        <a href="/Chateau-de-Monaco/location/location-fr.html#map" class="text_en"><span>Carte</span></a>
                    </div>
                </article>
                <article id="reservation">
                    <h4 class="h4_en">RESERVATION</h4>
                    <div class="list 4">
                        <a href="/Chateau-de-Monaco/reservation-fr/reservation.html" class="text_en"><span>Réservation de chambre</span></a>
                    </div>
                </article>
            </div>
            <div class="footer_down">
                <div class="down_left">
                    <span class="info text_en">
                        Place du Casino, 98000 Monte-Carlo, Monaco
                    </span>
                    <span class="mail text_en">
                        chateau.reserve@monaco.com
                    </span>
                </div>
                <a class="f_logo" href="/Chateau-de-Monaco/index.html"><img src="/Chateau-de-Monaco/img/logo_white.png" alt="로고_이미지"></a>
                <div class="down_right">
                    <div class="other text_en">
                        <a href="#" class="footer_privacy">Politique de confidentialité</a>
                        <a href="#" class="footer_notice">Conditions d'utilisation</a>
                        <a href="#" class="footer_notice">Politique relative aux cookies</a>
                        <a href="#" class="footer_notice">Plan du site</a>
                    </div>
                    <p class="text_en">© 2026 Château de Monaco. All Rights Reserved.</p>
                </div>
            </div>
        </footer>
    </div>
</footer>

<!-- 푸터 모달 -->
<div class="footer_modal" id="footerModal">
    <div class="footer_modal_bg"></div>

    <div class="footer_modal_content">

        <!-- 닫기 버튼 -->
        <button type="button" class="footer_modal_close btn_small">×</button>

        <!-- 개인정보처리방침 영상 -->
        <div class="footer_video">
            <video controls>
                <source src="/Chateau-de-Monaco/img/personal_information.mp4" type="video/mp4">
                Votre navigateur ne peut pas lire cette vidéo.
            </video>
        </div>

        <!-- 안내 문구 -->
        <p class="footer_notice_text h4_en">
            Ceci est une page web créée à des fins de portfolio.
        </p>

    </div>
</div>