<footer id="footer">
    <div class="container">
        <footer class="footer">
            <div class="footer_up">
                <article id="stay">
                    <h4 class="h4_en">STAY</h4>
                    <div class="list 1">
                        <a href="/Chateau-de-Monaco/stay/stay-en.html?item=art-gallery" class="text_en">
                            <span>gallery</span>
                        </a>

                        <a href="/Chateau-de-Monaco/stay/stay-en.html?item=infinity-pool" class="text_en">
                            <span>pool</span>
                        </a>

                        <a href="/Chateau-de-Monaco/stay/stay-en.html?item=signature-restaurant" class="text_en">
                            <span>restaurant</span>
                        </a>

                        <a href="/Chateau-de-Monaco/stay/stay-en.html?item=spa-wellness" class="text_en">
                            <span>spa</span>
                        </a>

                        <a href="/Chateau-de-Monaco/stay/stay-en.html?item=standard-room" class="text_en">
                            <span>standard</span>
                        </a>

                        <a href="/Chateau-de-Monaco/stay/stay-en.html?item=suite-room" class="text_en">
                            <span>suite</span>
                        </a>
                    </div>
                </article>
                <article id="experiences">
                    <h4 class="h4_en">EXPERIENCES</h4>
                    <div class="list 2">
                        <a href="/Chateau-de-Monaco/experiences/experiences-en.html?item=birthday" class="text_en"><span>birthday</span></a>
                        <a href="/Chateau-de-Monaco/experiences/experiences-en.html?item=spa" class="text_en"><span>spa</span></a>
                        <a href="/Chateau-de-Monaco/experiences/experiences-en.html?item=proposal" class="text_en"><span>proposal</span></a>
                        <a href="/Chateau-de-Monaco/experiences/experiences-en.html?item=anniversary" class="text_en"><span>anniversary</span></a>
                        <a href="/Chateau-de-Monaco/experiences/experiences-en.html?item=honeymoon" class="text_en"><span>honeymoon</span></a>
                    </div>
                </article>
                <article id="location">
                    <h4 class="h4_en">LOCATION</h4>
                    <div class="list 3">
                        <a href="/Chateau-de-Monaco/location/location-en.html#directions" class="text_en"><span>directions</span></a>
                        <a href="/Chateau-de-Monaco/location/location-en.html#spot" class="text_en"><span>spot</span></a>
                        <a href="/Chateau-de-Monaco/location/location-en.html#map" class="text_en"><span>map</span></a>
                    </div>
                </article>
                <article id="reservation">
                    <h4 class="h4_en">RESERVATION</h4>
                    <div class="list 4">
                        <a href="/Chateau-de-Monaco/reservation/reservation-en.html" class="text_en"><span>reservation</span></a>
                    </div>
                </article>
            </div>
            <div class="footer_down">
                <div class="down_left">
                    <span class="info text_en">
                        Place du Casino, 98000 Monte-Carlo, Monaco
                    </span>
                    <span class="mail text_en">
                        chateau.reserve@monaco.com
                    </span>
                </div>
                <a class="f_logo" href="/Chateau-de-Monaco/index.html"><img src="/Chateau-de-Monaco/img/logo_white.png" alt="로고_이미지"></a>
                <div class="down_right">
                    <div class="other text_en">
                        <a href="#" class="footer_privacy">Privacy Policy</a>
                        <a href="#" class="footer_notice">Terms of Use</a>
                        <a href="#" class="footer_notice">Cookie Policy</a>
                        <a href="#" class="footer_notice">Sitemap</a>
                    </div>
                    <p class="text_en">© 2026 Château de Monaco. All Rights Reserved.</p>
                </div>
            </div>
        </footer>
    </div>
</footer>

<!-- 푸터 모달 -->
<div class="footer_modal" id="footerModal">
    <div class="footer_modal_bg"></div>

    <div class="footer_modal_content">

        <!-- 닫기 버튼 -->
        <button type="button" class="footer_modal_close btn_small">×</button>

        <!-- 개인정보처리방침 영상 -->
        <div class="footer_video">
            <video controls>
                <source src="/Chateau-de-Monaco/img/personal_information.mp4" type="video/mp4">
                브라우저에서 동영상을 재생할 수 없습니다.
            </video>
        </div>

        <!-- 안내 문구 -->
        <p class="footer_notice_text h4_en">
            포트폴리오용 웹페이지 입니다.
        </p>

    </div>
</div>