<!-- partials/header.html -->
<header id="header">
    <div class="container">
        <header class="header">
            <h1 class="logo">
                <a href="/">
                    <img id="logoImg" src="" alt="로고이미지">
                </a>
            </h1>
            <nav class="nav">
                <ul>
                    <li><a href="/Chateau-de-Monaco/index.html"><span>홈</span></a></li>
                    <li><a href="/Chateau-de-Monaco/stay/stay.html"><span>부대시설</span></a></li>
                    <li><a href="/Chateau-de-Monaco/experiences/experiences.html"><span>이벤트</span></a></li>
                    <li><a href="/Chateau-de-Monaco/location/location.html"><span>주변관광지</span></a></li>
                    <li><a href="/Chateau-de-Monaco/reservation/reservation.html"><span>예약</span></a></li>
                </ul>
                <div class="translate">
                    <select class="nation">
                        <option selected>KO</option>
                        <option>EN</option>
                        <option>FR</option>
                    </select>
                </div>
            </nav>
        </header>
    </div>
</header>